<html>
<head>
    <title>The Wheel - Cuisines</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css"/>
    <script type="text/javascript" src="admin.js"></script>
</head>

<body>
  <table>
    <tr style="background:white">
      <th> Cuisine </th>
      <th> Reaction </th>
    </tr>
    <tbody id="cuisines">
      <tr>
        <td> <input type="text" name="cuisine" value="Italian"> </td>
        <td> <input type="text" name="cuisine" value="Mumma Mia"> </td>
      </tr>
    </tbody
</body>
