<html>
<head>
    <title>The Wheel</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css"/>
    <script type="text/javascript" src="js/cuisine_wheel.js"></script>
</head>
<body class="content">
	<div class="speech-bubble hidden" id="lunch-result">
	Yummy!
	</div>
	<img class="bee-marker" src="../images/bee.png"/>
	<img id="cheer-right" class="cheerleader right hidden" src="../images/cat-right.gif"/>
	<img id="cheer-left" class="cheerleader left hidden" src="../images/cat-left.gif"/>
    <canvas id="canvas" width="600" height="600"/>
</body>
</html>
