body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/background.jpg");
  background-size: cover;
}

.content {
  width:100%;
  text-align: center;
}

#canvas {
  display: inline;
}

.speech-bubble {
	
}