
.speech-bubble {

    &.hidden{
        visibility: hidden;
    }

    color: $font-color;
    background: $yellow;
    font-weight: bold;
    font-size: 16px;
    border: 1px;
    width: 250px;
    padding: 15px 0px;
    margin: 0 53% 30px;
    text-align: center;

    @include position(relative, initial, initial, 0);
    @include background-gradient($yellow, $yellow-secondary);
    @include border-radius(100%);

    &:before {
        content: "";
        background: $yellow;
        @include position(absolute, initial, -20px, 25px);
        @include square-size(18px);
        @include border-radius(30px);
    }
    &:after {
        content: "";
        background: $yellow;
        @include position(absolute, initial, -35px, 5px);
        @include square-size(13px);
        @include border-radius(15px);
    }
}